@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Rajdhani:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 300;
    color: #000;
}

/*headings and logo*/

h1, h2 {
    font-family: Gajraj, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

#logo-img {
    height: auto;
    width: auto;
    background: url('../images/AllAboutSheepLogo_Blank.png') no-repeat center center;
    
    padding: 5%;
    
    /* margin: 0 0 2% 0; */

    position: relative;
    text-align: center;

    /*centring img*/
    display: block; 
    justify-content: space-around;
    align-items: center; 
}

#logo {
    /*option to position this relative to the image behind it*/
    position: relative;
    top: 50%;
    bottom: 50%;
    width: 100%;

    text-align: center;
    font-size: 80%;

    line-height: 20px;
    
}



/*Navigational Links*/

#menu {
    font-size: 200%;
    letter-spacing: 4px;
    line-height: 0.25px;
    margin: 2% auto;
    position: relative;
    text-align: center;

    /*good to try get more responsive; 
    when viewport width is reduced a lot
    (phone size)
    menu runs up into the logo*/
    
}


#menu, #logo {
    /* line-height: 0  px; */
}

#menu li {
    display: inline-block;
    list-style-type:none;
    margin: 0 2% 0 2% ;
    /*make more responsive: adjust to phone veiwport widths */
}

#menu a {
    color: inherit;
}
